<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/dist/fragment :: dynamic(~{::main})}">

<body>
	<main>
		<form action="/admin/feedbacks/saveOrUpdate" method="post"
			enctype="multipart/form-data" th:object="${feedback}">
			<div class="card">
				<div class="card-header card bg-secondary text-white"
					style="text-align: center">
					<h2
						th:text="${feedback.isEdit ? 'Chỉnh sửa bình luận' : 'Thêm mới bình luận'}">
						New Feedback</h2>
				</div>
				<div class="card-body">
					<div class="row">
						<input type="hidden" th:field="*{isEdit}">
						<div class="col-sm-12 ses ">
							<div class="row">
								<div class="form-group col-sm-6">
									<label for="feedbackId">Mã bình luận: </label> <input
										type="text" readonly class="form-control" name="feedbackId"
										th:field="*{feedbackId}" placeholder="Mã bình luận">
								</div>
								<div class="form-group col-sm-6">
									<label for="username"> Tài khoản</label> <select
										class="form-control" name="username" id="username"
										th:field="*{username}">
										<option th:each="item : ${accounts}"
											th:value="${item.username}" th:text="${item.username}"
											th:selected="${item.username == feedback.username}">Account
											Name</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<label for="productId"> Mã sản phẩm</label> <select
										class="form-control" name="productId" id="productId"
										th:field="*{productId}">
										<option th:each="item : ${products}"
											th:value="${item.productId}" th:text="${item.productId}"
											th:selected="${item.productId == feedback.productId}">Mã
											sản phẩm</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div>Mô tả</div>
									<textarea th:field="*{discription}" placeholder="Mô tả"
										style="height: 190px" class="mt-2 form-control description"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer text-center mt-5">
					<button class="btn btn-primary mr-3"
						th:text="${feedback.isEdit? 'Cập nhật':'Lưu'}">
						Save <i class="fa-solid fa-plus"></i>
					</button>
					<a th:href="@{/admin/feedbacks}" class="btn btn-success mr-2">Danh
						sách bình luận</a> <a class="btn btn-danger mr-2"
						th:if="${feedback.isEdit}" th:data-id="${feedback.feedbackId}"
						th:data-name="${feedback.feedbackId}"
						onclick="showConfirmModalDialog(this.getAttribute('data-id'), this.getAttribute('data-name'))">
						Xóa <i class="fa-regular fa-trash-can"></i>
					</a> <a th:href="@{/admin/feedbacks/add}" class="btn btn-info mr-3">
						Làm mới <i class="fa-regular fa-window-restore"></i>
					</a>
				</div>
			</div>
			<script>
				function showConfirmModalDialog(id, name) {
					$('#feedbackId').text(name);
					$('#yesOption').attr('href', '/admin/orders/delete/' + id);
					$('#noOption').attr('href', '/admin/orders/edit/' + id);
					$('#confirmationId').modal('show');
				}
			</script>
			<div class="modal fade" id="confirmationId" tabindex="-1"
				role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Xác nhận</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Bạn có muốn xóa bình luận mã "<span id="feedbackId"></span>"?
						</div>
						<div class="modal-footer">
							<a id="yesOption" type="button" class="btn btn-danger">Đồng ý</a>
							<a id="noOption" type="button" class="btn btn-secondary"
								data-dismiss="modal">Hủy</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</main>
</body>
</html>