.discription{
	font-size: 11px;
}
.bot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-1{
    width: 300px;
}