<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
    th:replace="~{/admin/dist/fragment :: dynamic(~{::main})}">

<body>
	<main>
        <div class="card mb-4">
			 <div class="card-header card bg-secondary text-white"
				style="text-align: center">
				<h3>Danh sách tài khoản</h3>
			</div>
        <div class="card-body">
            <div th:if="${message != null}" class="alert alert-primary"
                role="alert"> 
                <i>[[${message}]]</i>
            </div>
            <table id="datatablesSimple">
					<thead class="bg-light ">
						<tr>
							<th>Tên tài khoản</th>
							<th>Mật khẩu</th>
							<th>Họ và tên</th>
							<th>Email</th>
							<th>Số điện thoại</th>
							<th>Hình ảnh</th>
							<th>Địa chỉ</th>
							<th></th>
							

						</tr>
					</thead>
					<tbody>
						<tr th:each="item: ${accounts}">
							<td th:utext="${item.username}"></td>
							<td th:password="${item.password}">**************</td>
							<td th:utext="${item.fullname}"></td>
							<td th:utext="${item.email}"></td>
							<td th:utext="${item.telePhone}"></td>
							<td th:utext="${item.image}"></td>
							<td th:utext="${item.address}"></td>					
							<td>
								
									<a class="btn btn-warning"
										th:href="@{'/admin/accounts/edit/' + ${item.username}}">
										<i class="fa-regular fa-pen-to-square"></i>
									</a> 
									<a class="btn btn-danger" th:data-id="${item.username}"
										th:data-name="${item.username}"
										onclick="showConfirmModalDialog(this.getAttribute('data-id'), this.getAttribute('data-name'))">
										<i class="fa-solid fa-trash-can"></i>
									</a>
								
							</td>
						</tr>
					</tbody>
					<script>
						function showConfirmModalDialog(id, name) {
							$('#username').text(name);
							$('#yesOption').attr('href',
									'/admin/accounts/delete/' + id);
							$('#noOption').attr('href', '/admin/accounts');
							$('#confirmationId').modal('show');
						}
					</script>
					<div class="modal fade" id="confirmationId" tabindex="-1"
						role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Xác nhận</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									Bạn chắc chắn xóa tài khoản "<span id="username"></span>"?
								</div>
								<div class="modal-footer">
									<a id="yesOption" type="button" class="btn btn-danger">Đồng ý</a>
									<a id="noOption" type="button" class="btn btn-secondary"
										data-dismiss="modal">Hủy</a>
								</div>
							</div>
						</div>
					</div>
				</table>
			</div>
		</div>
	</main>
	<script src="/static/assets/js/all.min.js"></script>
</body>
</html>